<a class="popover {{anchor}}" href="#" style="position: absolute; display: block;">
      <div class="arrow"></div>
      <div class="popover-content">
            <span class="popover-label">{{content}}</span>
            <span class="streetview-icon icon-eye" style="display: none;"></span>
      </div>
</a>
