<a href="#"">
  <i class="icon-{{icon}} normal"></i>
  <span class="more-label normal">{{label}}</span>
  <i class="icon-refresh refreshing" style="display: none;"></i>
  <span class="refreshing" style="display: none;">Haetaan...</span>
</a>
