<form class="form">
  <input type="text" class="input-full" id="from" placeholder="MistŠÉ">
  <input type="text" class="input-full" id="to" placeholder="MinneÉ">

  <button type="submit" class="btn btn-primary pull-right"><i class="icon-search icon-white"></i>Hae</button>
</form>