.no-margin {
    margin: 0;
}

.navbar {
    margin-bottom: 0;
}

#controls {
    position: absolute;
    top: 42px;
    bottom: 0;
    width: 28em;
    border-right: 1px solid #D4D4D4;
    z-index: 1;
    box-sizing: border-box;
    padding: 0 2em;
}

#map {
    position: absolute;
    margin-left: 28em;
    width: 100%;
}

html, body {
    height: 100%;
    position: relative;
}

.full-height {
    height: 100%;
}

.centered {
    text-align: center;
}

input.input-full {
    width: 100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: 12px;
    padding-top: 12px;
}