@import url("lib/bootstrap.css");

.no-margin {
    margin: 0;
}

.navbar {
    margin-bottom: 0;
}

#controls {
    position: absolute;
    top: 42px;
    bottom: 0;
    width: 28em;
    border-right: 1px solid #D4D4D4;
    z-index: 1;
    box-sizing: border-box;
    padding: 0 2em;
}

.smart_autocomplete_container {
  margin-top: 25px;
  margin-left: 0;
  list-style-type: none;
  background: white;
  border: 1px solid #666;
  -moz-box-shadow: 2px 2px 2px rgba(102, 102, 102, .4);
  -webkit-box-shadow: 2px 2px 2px rgba(102, 102, 102, .4);
}
.smart_autocomplete_container li {
  cursor: pointer;
  padding: .4em;
}
.smart_autocomplete_highlight {
  background-color: #B2B4BF;
}

#map {
    position: absolute;
    top: 42px;
    left: 28em;
    right: 0;
    bottom: 0;
}

#map img {
    max-width: none;
}

html, body {
    height: 100%;
    position: relative;
}

.centered {
    text-align: center;
}

input.input-full {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: 12px;
    padding-top: 12px;
}