@import url("lib/bootstrap.css");
@import url("lib/bootstrap-responsive.css");
@import url("lib/timePicker.css");
@import url("route_graph.css");

@navbarHeight: 42px;
@controlsWidth: 400px;
@borderColor: #BBB;
@transportIconWidth: 32px;

body {
    position: relative;
    padding: 0;
}

#map {
    margin: 0 !important;
    height: 100%;
}

.no-margin {
    margin: 0 !important;
}

.full-height {
    height: 100%;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3; // Don't get obscured by controls
}

#map-wrap {
    position: fixed;
    top: @navbarHeight;
    left: @controlsWidth;
    right: 0;
    bottom: 0;

    #map {
        z-index: 1;
        border-left: 1px solid #D4D4D4;

        img {
            max-width: none;
        }
    }
}

#controls {
    padding: @navbarHeight 0 20px 0;
}

@media (min-width: 767px) {
    #controls {
        width: @controlsWidth;
    }
}

#search {
    margin: 0 20px;
}

#time-settings {
    margin-bottom: 18px;
}

#time-settings > span > input, #time-settings select {
    margin-right: 1em !important;
}

#time {
    margin: 0 !important;
    width: 48px;
}

#time-type {
    margin: 0 !important;
    width: 15ex;
}

#date {
    margin: 0 !important;
    width: 10ex;
}

#navbar-wrapper {
    height: 100%;
    margin-bottom: -42px;
    box-sizing: border-box;
}

#transport-types {
    margin: 1.5em 0;
    text-align: center;
    button {
        margin: 0;
        padding: 2px 8px;
    }
}

html, body {
    height: 100%;
    min-height: 100%;
}

.centered {
    text-align: center;
}

.full-width-fix {
    padding-right: 12px;
}

input.input-full {
    width: 100%;
}

#routes {
    padding: 0;
    margin: 0;

    li.route, li.more {
        margin: 0;
        border-bottom: 1px solid @borderColor;
        > a {
            display: block;
            margin: 0;
            padding: 3px 20px;
        }
    }

    li.route {

        dl {
            margin: 0;

            dt {
                font-size: 0.8em;
                font-weight: normal;
                color: black;
            }
        }

        dl.time {
            dd {
                margin: 0;
                font-size: 2.0em;
            }
            .secondary {
                font-size: 0.8em;
                display: inline;
            }
        }

        dl.attribute {
            text-align: center;

            dd, dt {
                display: inline;
                font-size: 0.8em;
            }
        }

        dl.attribute:first-of-kind {
            margin-top: 4px;
        }
    }

    li.more {
        text-align: center;
        font-size: 0.8em;
    }

    li.route:first-child, li.more:first-child {
        border-top: 1px solid @borderColor;
    }

    li.selected > a {
        background-color: #F1F1F1;
    }
}

#map {
    .popover {
        opacity: 0.8;
        width: 100px;
        height: 20px;
        font-size: 0.8em;
        cursor: pointer;
        .popover-content {
            padding: 0 5px;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.transport-icon {
    background-image: url('../img/vehicles_small.png');
    width: @transportIconWidth;
    height: @transportIconWidth;
}

i.icon-bus {
    .transport-icon;
    background-position: 0 0;
}

i.icon-tram {
    .transport-icon;
    background-position: -@transportIconWidth -@transportIconWidth;
}

i.icon-metro {
    .transport-icon;
    background-position: 0 -@transportIconWidth;
}

i.icon-train {
    .transport-icon;
    background-position: -@transportIconWidth 0;
}

i.icon-ferry {
    .transport-icon;
    background-position: 0 -2 * @transportIconWidth;
}
