@import url("lib/bootstrap.css");
@import url("lib/bootstrap-responsive.css");
@import url("lib/timePicker.css");

.transition (@prop: all, @time: 1s, @ease: linear) {
    -webkit-transition: @prop @time @ease;
    -moz-transition: @prop @time @ease;
    -o-transition: @prop @time @ease;
    -ms-transition: @prop @time @ease;
    transition: @prop @time @ease;
}
 

body {
    position: relative;
    padding: 0;
}

.no-margin {
    margin: 0 !important;
}

.full-height {
    height: 100%;
}

#content {
    position: absolute;
    top: 42px;
    bottom: 0;
}

#time-settings {
    margin-bottom: 18px;
}

#time-settings > span > a, #time-settings select {
    margin-right: 1em !important;
}

#time {
    width: 48px;
}

#time-type {
    width: 15ex;
}

#navbar-wrapper {
    height: 100%;
    margin-bottom: -42px;
    box-sizing: border-box;
}

#controls {
    padding: 0 20px;
}

#map {
    z-index: 1;
    border-left: 1px solid #D4D4D4;
}

#map img {
    max-width: none;
}

#transport-types {
    margin: 1.5em 0;
}

html, body {
    height: 100%;
    min-height: 100%;
}

.centered {
    text-align: center;
}

.full-width-fix {
    padding-right: 12px;
}

input.input-full {
    width: 100%;
}

#routes {
    padding: 0;
}

li.route {
    margin: 1em 0;
}

li.route > a {
    display: block;
    margin: 0;
    border: 1px solid #E5E5E5;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#routes li.selected > a {
    background-color: #F1F1F1;
    border: 1px solid #C5C5C5;
}

li.route dl {
    margin: 0 0 10px 0;
}

li.route .departure-time {
    float: left;
    text-align: left;
}
li.route .arrive-time {
    float: right;
    text-align: right;
}

li.route .time dt, li.route .attribute dt {
    font-size: 0.8em;
    font-weight: normal;
    color: black;
}
li.route .time dd {
    margin: 0;
    font-size: 2.0em;
}
li.route .time .secondary {
    font-size: 0.8em;
    display: inline;
}

li.route .attribute {
    text-align: center;
}
li.route .attribute dd, li.route .attribute dt {
    display: inline;
}
li.route .attribute dd {
    font-size: 0.8em;
}

.route-graph {
    position: relative;
    height: 40px;
}

.route-graph li {
    position: absolute;
    top: 0;
    height: 24px;
    font-size: 0.7em;
    color: black;
}

.route-graph li .leg-bar {
    height: 20px;
    padding: 2px;
    border-right: 1px solid white;
}


.route-graph li .leg-icon {
    background-image: url('../img/vehicles_tiny.png');
    width: 16px;
    height: 16px;
    margin: 2px auto;
}

.leg-1 .leg-bar, .leg-3 .leg-bar, .leg-4 .leg-bar, .leg-5 .leg-bar, .leg-8 .leg-bar,
.leg-21 .leg-bar, .leg-23 .leg-bar, .leg-24 .leg-bar, .leg-25 .leg-bar, .leg-36 .leg-bar,
.leg-39 .leg-bar {
    background-color: #1b76bc;
}
.leg-1 .leg-icon, .leg-3 .leg-icon, .leg-4 .leg-icon, .leg-5 .leg-icon, .leg-8 .leg-icon,
.leg-21 .leg-icon, .leg-23 .leg-icon, .leg-24 .leg-icon, .leg-25 .leg-icon, .leg-36 .leg-icon,
.leg-39 .leg-icon {
    background-position: -2px -2px;
}

.leg-2 .leg-bar {
    background-color: #1a9b63;
}
.leg-2 .leg-icon {
    background-position: 18px -22px;
}

.leg-6 .leg-bar {
    background-color: #ed6227;
}
.leg-6 .leg-icon {
    background-position: -2px -22px;
}

.leg-7 .leg-bar {
    background-color: #17b9e8;
}
.leg-7 .leg-icon {
    background-position: -2px 18px;
}

.leg-12 .leg-bar {
    background-color: #3cac40;
}
.leg-12 .leg-icon {
    background-position: 18px -2px;
}

.leg-walk .leg-bar {
    background-color: #1e74fc;
}
.route-graph  li.leg-walk .leg-icon {
    background-image: url('../img/walk.png');
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
}


.route-graph .leg-info {
    display: table;
    line-height: 105%;
}
.route-graph .leg-info-left {
    text-align: right;
}
.route-graph .leg-info-right {
    text-align: left;
}
.route-graph .leg-info .leg-info-content {
    display: table-cell;
    vertical-align: middle;
    padding: 0 4px;
}

.route-graph, .route-graph li, .route-graph .leg-indicator {
    .transition(all, 0.4s, ease-out);
}

.route-graph .leg-info {
    opacity: 0;
}
.route-graph .leg-info.expanded {
    opacity: 1;
}

.route-graph .leg-indicator {
    opacity: 1;
}
.route-graph .leg-indicator.expanded {
    opacity: 0;
}




.transport-icon {
    background-image: url('../img/vehicles_tiny.png');
    width: 20px;
    height: 20px;
    line-height: 20px;
}

i.icon-bus {
    .transport-icon;
    background-position: 0 0;
}

i.icon-tram {
    .transport-icon;
    background-position: -20px -20px;
}

i.icon-metro {
    .transport-icon;
    background-position: 0 -20px;
}

i.icon-train {
    .transport-icon;
    background-position: -20px 0;
}

i.icon-ferry {
    .transport-icon;
    background-position: 0 -40px;
}
