@import url("lib/bootstrap.css");
@import url("lib/bootstrap-responsive.css");

body {
    position :relative;
    padding: 0;
}

.no-margin {
    margin: 0 !important;
}

.full-height {
    height: 100%;
}

#content {
    position: absolute;
    top: 42px;
    bottom: 0;
}

#navbar-wrapper {
    height: 100%;
    margin-bottom: -42px;
    box-sizing: border-box;
}

#controls {
    padding: 0 20px;
}

#map {
    z-index: 1;
    border-left: 1px solid #D4D4D4;
}

#map img {
    max-width: none;
}

html, body {
    height: 100%;
    min-height: 100%;
}

.centered {
    text-align: center;
}

input.input-full {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: 12px;
    padding-top: 12px;
}

#routes {
  margin-top: 50px;
  padding: 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

#routes li {
  margin-bottom: 5px;
}

#routes li a {
  display: block;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #E5E5E5;
  clear: both;
}
#routes li.selected a {
  background-color: #F1F1F1;
  border: 1px solid #C5C5C5;
}

#routes li .times {
  margin: 0;
}

#routes li .icon-chevron-right {
  float: right;
  margin-top: 25px;
  margin-right: 0;
  opacity: 0.25;
}

.leg-icons {
  margin: 5px 0;
}
.leg-icons li {
  display: inline-block;
  color: white;
  margin-top: 5px;
  padding: 5px;
  min-width: 20px;
  text-align: center;
}
.leg-icons li.leg-icon-walk {
  font-style: italic;
  font-weight: 100;
}